.rider-registration {
    position: relative;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    width: 70%;
    transition: background-color 0.3s ease;
    height: 320px;
    margin-left: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  
  
  .rider-registration__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .rider-registration__icon {
    border-radius: 50%; /* Make the image rounded */
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .rider-registration:hover .rider-registration__icon {
    transform: translateX(-5px); /* Slide to the left on hover */
    background-color: #ff6b6b; /* Red background color on hover */
  }
  
  .rider-registration__text {
    flex: 1;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .rider-registration__title {
    margin: 0;
    font-size: larger;
    color: red;
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .rider-registration__description {
    color: #555;
  }
  
  .rider-registration__link {
    margin-top: 5px;
   
    display: block;
    width: 40%;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease;
    align-items: center;
  }

  .btn{
    background-color: red;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }

  .btn:hover{
    background-color: black;
    color: white;
  }
  
  
  